* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}

.container-top {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  .list-ordem {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-right: 1rem;
    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: aliceblue;
    }
  }
}

.container-principal {
  background-color: red;
}
